.module-check{
  .but-group{
    text-align: center;
    margin-top: 20px;
    button{
      padding: 15px 20px;
      margin: 10px;
      color: #fff;
      border-radius: $border-radius;
    }
  }
}