.but-group {
  .btn {
    padding: 10px 20px;
    margin: 0 10px 0 0;
    color: #fff;
    border-radius: 5px;
  }
  .btn-red{
    background: #f44e51;
  }
  .btn-gray{
    background-color: #ccc;
  }
}