select {
  -webkit-appearance: none;
  border: 1px solid #e2e7ec;
  border-radius: 0;
  padding: 0 8px;
  background: #fff url(../icons/icon_down.png) no-repeat right center;
  background-size: 20px;
  background-origin: content-box;
  line-height: normal;
}